/* Estilo general */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ff0400;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 {
    color: #ffd500;
    font-size: 2em; /* Tamaño de fuente más grande */
    margin-bottom: 30px;
    line-height: 1.4;
}

.cookie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px; /* Aumenta el tamaño para mayor visibilidad */
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

svg {
    width: 100%; /* Escala SVG al contenedor */
    height: 100%;
}

.left, .right {
    transition: transform 1s ease;
}

.paper {
    opacity: 0;
    transition: opacity 1s ease;
}

#fortuneText {
    font-size: 0.98em; /* Mensaje más grande */
    fill: #000000;
    font-weight: bold;
}
